<template>
  <v-container class="justify-center">
    <v-row>
      <v-col cols class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <v-card>
          <v-card-title class="grey lighten-1">
            <b>{{ constants.TOTAL_STATISTIC_RECEIPT }}</b>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <h2>IDR 212.000.000</h2>
            <small>Total</small>
            <v-divider class="mt-3 mb-3"/>
            <h2>IDR 212.000.000</h2>
            <small>Total</small>
          </v-card-text>
          <v-footer>
            <v-spacer></v-spacer>
            <v-btn small color="primary">Check More</v-btn>
          </v-footer>
        </v-card>
      </v-col>
      <v-col cols class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <v-card>
          <v-card-title class="grey lighten-1">
            <b>{{ constants.TOTAL_STATISTIC_RECEIPT }}</b>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <h2>IDR 212.000.000</h2>
            <small>Total</small>
            <v-divider class="mt-3 mb-3"/>
            <h2>IDR 212.000.000</h2>
            <small>Total</small>
          </v-card-text>
          <v-footer>
            <v-spacer></v-spacer>
            <v-btn small color="primary">Check More</v-btn>
          </v-footer>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-card-text>
            <v-row>
              <v-col cols class="col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <v-row>
                  <v-col cols="3">
                    <v-icon size="50">home</v-icon>
                  </v-col>
                  <v-col cols="9">
                    <small>Total</small>
                    <h3>IDR 20.000.000</h3>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols class="col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <v-row>
                  <v-col cols="3">
                    <v-icon size="50">home</v-icon>
                  </v-col>
                  <v-col cols="9">
                    <small>Total</small>
                    <h3>IDR 20.000.000</h3>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols class="col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <v-row>
                  <v-col cols="3">
                    <v-icon size="50">home</v-icon>
                  </v-col>
                  <v-col cols="9">
                    <small>Total</small>
                    <h3>IDR 20.000.000</h3>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols class="col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <v-row>
                  <v-col cols="3">
                    <v-icon size="50">home</v-icon>
                  </v-col>
                  <v-col cols="9">
                    <small>Total</small>
                    <h3>IDR 20.000.000</h3>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card-text>
          <v-footer>
            <v-spacer></v-spacer>
            <v-btn small color="primary">Check More</v-btn>
          </v-footer>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-card-text>
            <DoughnutChart></DoughnutChart>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col>
        <v-card>
          <v-card-text>
            <v-row>
              <v-col>
                <v-row>
                  <v-col class="text-center">
                    <v-icon size="100" class="ml-auto mr-auto">description</v-icon>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col class="text-center">
                    <h2>IDR 371.000.000</h2>
                    <small>The total amount paid by the merchant's sub-channels</small>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col class="text-center">
                    <v-progress-linear
                        background-color="pink lighten-3"
                        color="pink lighten-1"
                        value="15"
                    ></v-progress-linear>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col class="text-center">
                    <h4>81%</h4>
                    <small>MANDIRI</small>
                  </v-col>
                  <v-col class="text-center">
                    <h4>81%</h4>
                    <small>MANDIRI</small>
                  </v-col>
                  <v-col class="text-center">
                    <h4>81%</h4>
                    <small>MANDIRI</small>
                  </v-col>
                  <v-col class="text-center">
                    <h4>81%</h4>
                    <small>MANDIRI</small>
                  </v-col>
                  <v-col class="text-center">
                    <h4>81%</h4>
                    <small>MANDIRI</small>
                  </v-col>
                  <v-col class="text-center">
                    <h4>81%</h4>
                    <small>MANDIRI</small>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>

          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {mapState} from "vuex";
import DoughnutChart from "@/components/DoughnutChart";

export default {
  name: "DashboardView",
  components: {DoughnutChart},
  computed:{
    ...mapState(["constants"]),
  }
}
</script>

<style scoped>

</style>