<template>
  <v-container style="max-width: 100%">
    <v-row>
      <v-col style="padding-top: 0; padding-bottom: 0">
        <v-toolbar flat style="padding-bottom: 0" height="68">
          <v-toolbar-title>{{ menu.menuSelectedTranslated.label }}</v-toolbar-title>

          <v-spacer></v-spacer>
          <v-btn icon>
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </v-toolbar>

        <v-divider></v-divider>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-container fluid>
          <v-row>
            <v-col cols="12">
              <v-card class="pa-5">
                <v-row>
                  <v-col cols="2">
                    <v-btn @click="openDialogFilter" color="primary">
                      {{ constants.ADD_FILTER }}
                    </v-btn>
                  </v-col>
                  <v-col class="col-xl-10 col-sm-12 col-md-10 col-lg-10">
                    <v-chip-group
                        active-class="primary--text"
                        next-icon="chevron_right"
                        prev-icon="chevron_left"
                        show-arrows
                    >
                      <v-chip @click="showUpdateFilter(field)" @click:close="deleteFilter(field)" v-for="(flt, field) in dataPayload" :key="field" close close-icon="cancel">
                        <b>`{{ field }}`</b>&nbsp;{{ listCondition.find(x=>x.code === flt[0]).description }}&nbsp;<b>{{ flt[1] }} {{ flt[2] !== "" ? " ~ " + flt[2] : "" }}</b>
                      </v-chip>
                    </v-chip-group>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-data-table
                        mobile-breakpoint="0"
                        dense
                        class="elevation-5 border-table-item"
                        :loading="loadingTable"
                        :headers="headers"
                        :items="items"
                        :items-per-page="-1"
                        color="teal"
                    ></v-data-table>
                  </v-col>
                </v-row>

              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>

    <v-dialog v-model="dialogAddFilter"
              persistent
              max-width="50%">
      <v-card>
        <v-card-title>Add filter<v-spacer></v-spacer><v-btn icon small @click="dialogAddFilter = false"><v-icon>close</v-icon></v-btn></v-card-title>
        <v-card-text>
          <v-row>
            <v-col>
              <v-select v-model="filter.field" :items="listFilter" item-text="field" item-value="field" :label="constants.FIELD" dense outlined></v-select>
            </v-col>
            <v-col>
              <v-select v-model="filter.code" :items="listCondition" item-text="description" item-value="code" :label="constants.CONDITION" dense outlined></v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col v-if="isEmptyOrNotEmpty">
              <v-text-field :type="isTimeOrNot" v-model="filter.value1" :label="constants.VALUE" outlined dense />
            </v-col>
            <v-col v-if="isBetween">
              <v-text-field :type="isTimeOrNot" v-model="filter.value2" :label="constants.VALUE_2" outlined dense />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-btn color="primary" block @click="addFilter"><v-icon>add</v-icon>{{ constants.ADD }}</v-btn>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog
          v-model="loadingTable"
          hide-overlay
          persistent
          width="400"
      >
        <v-card
            color="primary"
            dark
        >
          <v-card-text class="text-center">
            {{ constants.LOADING_1 }}
            <v-progress-linear
                indeterminate
                color="white"
                class="mb-0"
            ></v-progress-linear>
          </v-card-text>
        </v-card>
      </v-dialog>
  </v-container>

</template>

<style>
/* CSS Kustom */
.header-style {
  background-color: teal;
}
.theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  color: white;
}
.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr > td {
  white-space: nowrap;
}
</style>

<script>
import {mapState} from "vuex";

export default {
  name: 'HomeView',
  data() {
    return {
      toggle_multiple: [],
      headers: [],
      items: [],
      loadingTable: false,
      dialogAddFilter: false,
      responseAddFilter: [],
      listFilter: [],
      listCondition: [],
      dataPayload: {},
      headersParsed: {},
      filter: {
        field: "",
        description: "",
        code: "",
        value1: null,
        value2: null
      },
      paramToGetData: {}
    }
  },
  async mounted() {
    await this.getQueryCondition()
    await this.getHeaders()
  },
  methods: {
    showUpdateFilter(ev){
      this.openDialogFilter()

      let filterDataArray = this.dataPayload[ev]

      this.filter = {
        field: ev,
        description: this.listCondition.find(x => x.code === filterDataArray[0])?.description,
        code: filterDataArray[0],
        value1: filterDataArray[1],
        value2: filterDataArray[2]
      }
    },
    async deleteFilter(ev){
      delete this.dataPayload[ev]
      await this.getData(this.paramToGetData.menu, this.paramToGetData.headers, this.paramToGetData.payload);
    },
    formatDatetime(ev) {
      return new Date(ev).toISOString().slice(0, 19).replace('T', ' ')
    },
    openDialogFilter(){
      this.filter = {
        field: "",
        description: "",
        code: "",
        value1: null,
        value2: null
      }

      this.dialogAddFilter = true
    },
    async addFilter(){
      if(this.filter.field.includes("time")){
        this.filter.value1 = this.formatDatetime(this.filter.value1)
        this.filter.value2 = this.filter.value2 !== null ? this.formatDatetime(this.filter.value2) : ""
      }
      this.dataPayload[this.filter.field] = [this.filter.code, this.filter.value1, this.filter.value2 ?? "", true]
      this.dialogAddFilter = false
      await this.getData(this.paramToGetData.menu, this.paramToGetData.headers, this.paramToGetData.payload);
    },
    async getQueryCondition(){
      let queryConditionRequest = await this.$store.dispatch('hitEndpoint', { path: `enum/single/QueryConditionTypeEm` });
      this.listCondition = JSON.parse(queryConditionRequest.translated).data;
      return this.listCondition;
    },
    async getHeaders() {
      try {
        this.headers = []
        this.items = []
        this.dataPayload = {}
        this.listFilter = []

        this.loadingTable = true;

        await Promise.all([
          this.$store.dispatch("findMenuByPath", { obj: this.menu.menuOriginal, path: this.$route.path }),
          this.$store.dispatch("findMenuByPath", { obj: this.menu.menuTranslated, path: this.$route.path, isTranslated: true })
        ]);

        const menu = this.menu.selectedMenu;
        const resourceId = menu['resourceId'];
        const getHeaders = await this.$store.dispatch('hitEndpoint', { path: `richText/${resourceId}`, patchToVar: 'responseTableHeader' });
        const headerMapping = await this.$store.dispatch('headerMapping', { data: this.parseContent(getHeaders['translated']) });
        console.log("Header Parse", getHeaders)
        this.headersParsed = JSON.parse(headerMapping);

        Object.keys(this.headersParsed).forEach((it) => {
          if (this.headersParsed[it].isView) {
            this.headers.push({
              text: this.headersParsed[it].asField.toUpperCase(),
              value: it,
              class: `header-style ${this.headersParsed[it].asField.length > 20 ? 'long-word':''} border-table-header pa-2 text-center`
            });
          }
          if (this.headersParsed[it].isSearch) {
            this.listFilter.push(this.headersParsed[it]);
            // this.dataPayload[headersParsed[it].field] = ["like", "", "", false]
          }
        });

        this.paramToGetData = {
          menu: menu,
          headers: getHeaders['original'].data,
          payload: this.dataPayload
        }

        await this.getData(this.paramToGetData.menu, this.paramToGetData.headers, this.paramToGetData.payload);
        await this.getFormResource(getHeaders);
      } catch (e) {
        this.loadingTable = false;
        console.log("ERROR GET HEADER ==> ", e);
      }
    },
    async getData(menu, headers, payload) {
      try {
        this.loadingTable = true;
        const getData = await this.$store.dispatch('hitEndpoint', {
          path: `formData/paged/${menu.resourceId}/${headers.dataSourceId}/${encodeURIComponent(headers.tableName)}/1/50?sortBy=&order=`,
          method: 'POST',
          data: payload
        });

        this.items = JSON.parse(getData.translated).data.records;
      } catch (error) {
        this.loadingTable = false;
        console.error("Error while fetching data:", error);
      } finally {
        this.loadingTable = false;
      }
    },
    async getFormResource(headers){
      return await this.$store.dispatch('hitEndpoint', { path: `formData/preAdd/${headers['original'].data['dataSourceId']}/${headers['original'].data['tableName']}` });
    },
    parseContent(text){
      return JSON.parse(JSON.parse(text).data.content)
    }
  },
  computed: {
    isEmptyOrNotEmpty(){
      return !/(notnull|isnull)/.test(this.filter.code)
    },
    isBetween(){
      return this.filter.code.includes('between')
    },
    isTimeOrNot(){
      if(this.filter.field.includes('time')){
        return 'datetime-local'
      }
      return ""
    },
    ...mapState(["endpoint", "menu", "constants"]),
  },
  watch: {
    'filter.code'(ev){
      this.filter.description = this.listCondition.find(x => x.code === ev)?.description
    },
    '$route'() {
      this.getHeaders()
    }
  }
};
</script>

<style>
  .header-style{
    white-space: nowrap;
  }
  .header-style.long-word{
    white-space: break-spaces;
  }
  .header-style.text-start{
    text-align: center !important;
  }
  .border-table-item td {
    border: 1px solid #e0e0e0;
  }
  /*tbody tr:nth-of-type(odd) {*/
  /*  !* 'teal lighten-5' basides on material design color *!*/
  /*  background-color: #e0f2f1;*/
  /*}*/

  tbody tr:nth-of-type(even) {
    /* 'deep-orange lighten-5' basides on material design color */
    background-color: #f0f0f0;
  }
  tbody tr:hover {
    /* 'deep-orange lighten-5' basides on material design color */
    background-color: #bdbdbd !important;
  }
</style>