<template>
    <v-container fluid>
      <v-row justify="center">
        <v-col cols="12" sm="8" md="4">
          <v-card>
            <v-card-title class="text-h5 bg-grey-lighten-2">Login</v-card-title>
            <v-card-text>
              <v-form @submit.prevent="login">
                <v-text-field v-model="username" label="Username" required></v-text-field>
                <v-text-field v-model="password" label="Password" type="password" required></v-text-field>
                <v-btn color="primary" type="submit">Login</v-btn>
              </v-form>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </template>
  
  <script>
import { mapState } from 'vuex';

  export default {
    name:"LoginPage",
    data() {
      return {
        username: '',
        password: ''
      };
    },
    methods: {
      async login() {
        let { login } = await this.$store.dispatch("login", { username: this.username, password: this.password });
        console.log(login)
        if(login){
          this.$router.push("/")
        }
      }
    },
    computed:{
      ...mapState(['session'])
    }
  };
  </script>
  
  <style scoped>
  </style>
  