<template>
  <v-app>
    <div v-if="page === 'CONTENT'">

      <v-navigation-drawer app dark left color="deep-green accent-3" v-model="drawer" width="300">
        <v-list-item class="px-4 ma-5">
          <v-list-item-avatar>
            <v-img src="https://randomuser.me/api/portraits/men/85.jpg"></v-img>
          </v-list-item-avatar>

          <v-list-item-title>John Leider
            <v-list-item-subtitle>Admin</v-list-item-subtitle>
          </v-list-item-title>

        </v-list-item>

        <v-divider></v-divider>
        <v-treeview
            expand-icon="keyboard_double_arrow_down"
            :items="items"
            activatable
            item-key="id"
            transition
            dense
            hoverable
            open-on-click
        >
          <template v-slot:label="{ item }">
              <v-list-item-content v-if="item.children.length > 0">
                <v-list-item-title>{{ toTitleCase(item.label) }}</v-list-item-title>
              </v-list-item-content>

              <v-list-item-content v-else @click="routeToView(item)">
                <v-list-item-title>{{ toTitleCase(item.label) }}</v-list-item-title>
              </v-list-item-content>
          </template>
        </v-treeview>
      </v-navigation-drawer>

      <v-app-bar
          color="teal"
          dark
          app
          elevate-on-scroll
          elevation="5"
      >
        <v-app-bar-nav-icon @click="drawer = !drawer">
          <span v-if="!drawer" class="material-icons">
            density_medium
          </span>
          <span v-if="drawer" class="material-icons">
            first_page
          </span>
        </v-app-bar-nav-icon>

        <v-toolbar-title>WALIPAY - Admin Panel</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-select
            prepend-inner-icon="language"
            style="max-width: 200px"
            class="mt-6"
            outlined
            dense
            :items="lang"
            item-text="text"
            item-value="id"
            v-model="langSelected"
            @change="reloadLanguage"
        ></v-select>

        <v-btn icon @click="$cookies.remove('SESSION'); $router.replace('/login'); page = 'LOGIN'">
          <v-icon>logout</v-icon>
        </v-btn>

      </v-app-bar>

      <v-main class="mt-1">
        <router-view></router-view>
      </v-main>
    </div>
    <div v-if="page === 'LOGIN'">
      <LoginPage/>
    </div>
  </v-app>
</template>

<script>
import LoginPage from './pages/LoginPage.vue';
import HomeView from './views/HomeView';
import {mapState} from "vuex";

export default {
  name: 'App',
  data() {
    return {
      langSelected: '',
      lang: [{ id: 'id', text:'Indonesia' },{ id: 'en-US', text: 'English'}],
      mini: true,
      drawer: false,
      page: "LOGIN",
      items: [],
      currentPath: {}
    };
  },
  mounted() {
    this.getRouteStatus(this.$route);
  },
  methods: {
    reloadLanguage(){
      localStorage.setItem("lang", this.langSelected)
      location.reload()
    },
    routeToView(details){
      this.$router.addRoute({
        path: details.path,
        component: HomeView,
      })

      if(this.$route.path !== details.path){
        this.menu.selectedMenu = details
        this.$router.replace( { path: details.path } )
      }
    },
    toTitleCase(text) {
      // Convert first letter of each word to uppercase
      return text.toLowerCase().split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');
    },
    getRouteStatus(route) {
      this.langSelected = localStorage.getItem('lang')
      if (route.path === '/login') {
        this.page = "LOGIN";
      } else {
        if(!this.$cookies.isKey("SESSION")){
          this.$router.replace("/login")
          this.page = "LOGIN";
        }else{
          this.page = "CONTENT";
          if(this.menu.menuTranslated.length > 0){
            console.log("===> FROM CACHE")
            this.items = this.menu.menuTranslated
          } else {
            const getMenu = this.$store.dispatch('hitEndpoint', { path: "auth/menuTree", responseVar: "menu" });
            getMenu.then(({ original, translated })=>{
              this.items = JSON.parse(translated).data;
              this.menu.menuTranslated = this.items
              this.menu.menuOriginal = original

              this.$router.addRoute({
                path: this.$route.path,
                component: HomeView
              })
            })
          }
        }

      }
    },
  },
  computed: {
    ...mapState(["menu"])
  },
  watch: {
    '$route.path'() {
      if(!this.$cookies.isKey("SESSION")){
        // this.$router.replace("/login")
      }else{
        this.getRouteStatus(this.$route)
      }
    }
  },
  components: { LoginPage }
};
</script>
